// common

$cl-primary: #000;
$cl-secondary: #f00;
$cl-tertiary: #fff;

$cl-input-placeholder: #ccc;

$cl-body-bg: #fee445;

$cl-default-shadow: #ccc;

// item

$cl-item-border: #ccc;
$cl-item-media-bg: #dfdfdf;
$cl-item-media-caption-bg: #cfcfcf;
$cl-item-secondary: #572e1a;
