@import '../styles/variables';

.search {
  padding: 0 1.2rem;
  
  &__input {
    padding: 1rem;
    width: 100%;
    border: none;
    box-shadow: $default-box-shadow;
    text-align: center;
    font-size: 1.25rem;
    
    &::placeholder {
      color: $cl-input-placeholder;
    }
    
  }
  
}
